body {
	margin:0;
	padding:0;
}

#main {
	max-width:960px;
	margin:0 auto;
}

nav {
	width:100%;
	display:inline-block;
	padding: 20px 0;
	margin: 0;
}

#header {
	display:inline-block;
	margin: 0;
}

nav ul {
	float:right;
	list-style:none;
	text-align:center;
	padding:0;
	margin: 0;

}

nav li {
	display:inline-block;
}

div {
	width:100%;
}

#menutable {
	table-layout:fixed;
	width:100%;
}
#carttable {
	table-layout:auto;
	text-align:right;
	width:100%;
}

#cartname{
	text-align:left;
}

thead {
	text-align:left;
}

#cartbuttons {
	text-align:center;
}

form {
	display:inline;
}

#content {
	padding:5px;
	float:left;
	max-width:65%;
	border-style: solid;
  border-width: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

#cart {
	padding:5px;
	float:right;
	width:34%;
	border-style: solid;
  border-width: 1px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
